# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assets/Standard Assets/
Assets/Standard Assets.meta
Assets/FromStore and ignore/
Assets/Scenes/
Assets/Animations/
Assets/Materials/
Assets/Resources/
*.ini
*.meta
Assets/Materials
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.mat
Assets/Materials/PinkGrid.mat
*.unitypackage
*.FBX
/Assets/Models/uvws
/Assets/Prefabs
*.unity
*.asset
*.tga
*.png
*.jpg
*.prefab
